/* ESTILOS DE TODA LA PAGINA */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* core brand colors */
    --sandlight: #e6d6c7;
    --sandlight60: rgba(248, 243, 238, 0.6);
    --sandlight30: rgba(248, 243, 238, 0.3);
    --sanddark: #7c6454;
    --sandob: #514946;

    /* tierra brand colors */
    --terracotalight: rgb(223, 165, 132);
    --terracotalight60: rgba(223, 165, 132, 0.6);
    --terracotalight30: rgba(223, 165, 132, 0.3);
    --terracotadark: rgb(179, 92, 73);
    --terractaob: rgb(126, 62, 41);

    /* semilla brand colors */
    --ochrelight: rgb(244, 204, 122);
    --ochrelight60: rgba(244, 204, 122, 0.6);
    --ochrelight30: rgba(244, 204, 122, 0.3);
    --ochrehaze: rgb(222, 181, 93);
    --ochredusk: rgb(190, 136, 28);

    /* nutrimento brand colors */
    --nightskylight: rgb(148, 153, 157);
    --nightskylight60: rgba(148, 153, 157, 0.6);
    --nightskylight30: rgba(148, 153, 157, 0.3);
    --nightskydark: rgb(89, 98, 106);
    --nightskyob: rgb(60, 66, 75);

    /* siembra brand colors */
    --burgundylight: rgb(224, 159, 171);
    --burgundylight60: rgba(224, 159, 171, 0.6);
    --burgundylight30: rgba(224, 159, 171, 0.3);
    --burgundydark: rgb(156, 46, 80);
    --burgundyob: rgb(86, 53, 63);

    /* cosecha brand colors */
    --forestlight: rgb(181, 178, 117);
    --forestlight60: rgba(181, 178, 117, 0.6);
    --forestlight30: rgba(181, 178, 117, 0.3);
    --forestdark: rgb(133, 145, 84);
    --forestob: rgb(84, 87, 74);

    --white: #ffffff;
    --black: #000000;
    --encabezado-h: 100vh;
    --tarjeta-r: 10px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: var(--sandlight);
    font-family: 'Albert Sans', sans-serif;
    color: var(--sandob);
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes scrollPulse {
    0% {
        transform: scaleY(1);
        opacity: 0.7;
    }

    50% {
        transform: scaleY(0.4);
        opacity: 0.3;
    }

    100% {
        transform: scaleY(1);
        opacity: 0.7;
    }
}

/* HERO */
.nidum-encabezado {}

.layer-fondo {}

.layer-casa {}

.layer-overlay {}

.site-logo {}

.site-logo img {}

.encabezado-menu {}

.nav-wrap {}

.nav-elemento {}

.nav-elemento span {}

.nav-elemento::before {}

.nav-elemento:hover::before {}

.nav-elemento:hover span {}

.mobile-menu-container {}

.hamburger {}

.hamburger span {}

.menu-overlay {}

.mobile-nav {}

.scroll-hint {}

.scroll-hint span {}

.scroll-line {}

/* TEXTOS */


/* SECCIONES EN CARRUSEL */

